.footer{
    background: #205685;
    padding: 20px 0;

    .footerInner{
        display: block; 
        text-align: center;

        .dmca-badge {
            display: block;
            margin-top: 4px;
            margin-bottom: 8px;

            img {
                display: block;
                margin: 0 auto;
            }
        }

        .copyright {
            color: #fff;
            font-size: 15px;
        }

    }

    .scrollTop {
        background: #08f;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        bottom: 60px;
        right: 20px;
        opacity:0;
        cursor: pointer;
        border-radius: 50%;
        z-index: 5;
    }

    .scrollTop.pam_content {
        opacity: 1;
    }


}

.footer-block-btn {
    z-index: 4;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #205685;
    display: none;
    justify-content: center;
    align-items: center;

    .buttons {
        display: flex;
    }
}

@media (max-width: 767px){
    .footer-block-btn { display: flex; }
}


