.banner {
  border-radius: 20px;
  background: url(/uploads/img/back2.jpg);
  background-size: cover;
  padding: 40px 20px;
  position: relative;
  margin-bottom: 64px;

  .mainText {
    text-transform: uppercase;
    font-size: 70px;
    line-height: 70px;
    font-weight: bold;
    position: relative;
    z-index: 3;
    color: #1e93f7;

    span {
      display: block;
      font-size: 45px;
      color: inherit;
    }
  }

  .shadow {
    text-transform: uppercase;
    font-size: 120px;
    line-height: 200px;
    font-weight: bold;
    color: rgba(251, 251, 251, 0.2);
    position: absolute;
    top: 50px;
    left: 20px;
    z-index: 2;
  }

  .secondText {
    color: #fff;
    background: #18213e;
    padding: 10px;
    position: relative;
    z-index: 3;
  }
  .button {
    margin-top: 30px;
    text-transform: uppercase;
    position: relative;
    z-index: 3;
  }
  .info button {
    background: linear-gradient(
      90deg,
      rgba(138, 186, 6, 1) 0%,
      rgba(105, 143, 59, 1) 80%
    );
    color: #fff;
    padding: 12px 45px;
    border-radius: 30px;
    font-size: 24px;
  }

  .list {
    display: flex;
    margin-top: 30px;
    .listItem {
      margin-right: 18px;
      .number {
        font-size: 60px;
        color: #1e93f7;
        font-weight: bold;
      }
      .name {
        font-size: 22px;
        font-weight: bold;
        text-transform: uppercase;
        color: #fff;
        position: relative;
        z-index: 2;
      }
    }
  }

  .bannerImg {
    position: absolute;
    top: 30px;
    right: 20px;
    z-index: 1;
    img {
      width: 400px;
      height: 400px;
    }
  }
}
